[Desktop Entry]
Type=Application
Exec=kandas -caption "%c"
Name=KaNDAS
Name[de]=KaNDAS
GenericName=KDE interface for NDAS-powered network drives
GenericName[de]=KDE-Oberfläche für NDAS-basierte Netzwerkfestplatten
Terminal=false
Icon=folder-remote
X-KDE-StartupNotify=true
Categories=Qt;KDE;
