<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kandas" version="2">
    <MenuBar>
        <Menu name="kandas">
            <Text>KaNDAS</Text>
            <Action name="kandas_device_add"/>
            <Action name="kandas_device_remove"/>
        </Menu>
    </MenuBar>
    <ToolBar name="deviceToolBar">
        <Text>Drive management</Text>
        <Action name="kandas_device_add"/>
        <Action name="kandas_device_remove"/>
    </ToolBar>
    <StatusBar/>
</gui>