[Desktop Entry]
Type=Application
Exec=kandas -caption "%c"
Name=KaNDAS
Name[de]=KaNDAS
GenericName=KDE adapter for NDAS devices
GenericName[de]=KDE-Steuerungstool für NDAS-Geräte
Terminal=false
Icon=folder-remote
X-KDE-StartupNotify=true
Categories=Qt;KDE;
