<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kandas" version="1">
    <MenuBar>
        <Menu name="actions">
            <Text>Actions</Text>
            <Action name="kandas_device_connect"/>
            <Action name="kandas_device_disconnect"/>
            <Separator/>
            <Action name="kandas_slot_connect"/>
            <Action name="kandas_slot_disconnect"/>
        </Menu>
    </MenuBar>
<!--    <ToolBar name="driverToolBar">
        <Text>Driver functions</Text>
        <Action name="kandas_start"/>
        <Action name="kandas_stop"/>
    </ToolBar>-->
    <ToolBar name="connectionTools">
        <Text>Connection management</Text>
        <Action name="kandas_device_connect"/>
        <Action name="kandas_device_disconnect"/>
        <Separator/>
        <Action name="kandas_slot_connect"/>
        <Action name="kandas_slot_disconnect"/>
    </ToolBar>
    <StatusBar/>
</gui>